@import "tailwindcss";

html {
  transition: background-color 0.3s, color 0.3s;
}

html.light {
  background-color: #ffffff;
  color: #1f2937;
}

html.dark {
  background-color: #1f2937;
  color: #f3f4f6;
}